////////////////////////////////////////////
// LOGO
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}


////////////////////////////////////////////
// SEARCH
.search {
    flex: 0 0 40%; // search bar will occupy 40% of the header

    // Flex item is now becoming a flex container
    display: flex;
    align-items: center; // centers along the cross axis
    justify-content: center; // centers along the main axis

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;

        background-color: var(--color-gray-light-2);

        border: none;
        border-radius: 100px; // rounded edges for search bar
        padding: .7rem 2rem;
        width: 90%;

        transition: all .2s;

        margin-right: -3.5rem; // Button will move on top of the input

        &:focus {
            outline: none;
            width: 100%; // 90% to 100% gives us the nice zoom animation
            background-color: var(--color-gray-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-gray-light-4);
        }
    }

    // Selects the sibling
    &__input:focus+&__button {
        background-color: var(--color-gray-light-3); // button becomes same color as the input
    }

    &__button {
        border: none;

        background-color: var(--color-gray-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }

    }

    // To format SVGs you mainly deal with height and width
    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-gray-dark-3); // colors SVGs
    }
}




////////////////////////////////////////////
// USER NAVIGATION
.user-nav {
    align-self: stretch; // overwrites header's center

    display: flex; // flex item is now a flex container
    align-items: center;

    // Selecting user nav and all of the direct children. Goal is to space out each icon
    &>* {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%; // hovers entire area
        display: flex;
        align-items: center; // aligns across the cross axis (vertically)
    }

    &>*:hover {
        background-color: var(--color-gray-light-2);
    }

    &__icon-box {
        position: relative; // parent element must have position: relative for the child's position: absolute to work
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-gray-dark-2);
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: var(--color-white);
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        // Centering the numbers inside the bubble
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

}


////////////////////////////////////////////
// SIDE NAVIGATION
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem; // Adds margin bottom to all except the last
        }
    }

    // This is the small line that becomes visible in the left and expands to the right
    &__item::before {
        content: ""; // must specify or it wont even show
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);

        // The cubic bezier makes it slow in the beginning and then accelerates and then slows again
        transition: transform .2s,
            width .4s cubic-bezier(1, 0, 0, 1) .2s, // Adds a .2 delay before expanding
            background-color .1s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-gray-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10; // z index only works with a specified position (hence the need for `position: relative`

        // Align SVGs with span text
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;

        margin-right: 2rem;
        fill: currentColor; // uses the color of the current element or parent (from link:link and link:visited)
    }
}

////////////////////////////////////////////
// LEGAL TEXT
.legal {
    font-size: 1.2rem;
    color: var(--color-gray-light-4);
    text-align: center;
    padding: 2.5rem;
}

////////////////////////////////////////////
// GALLERY
.gallery {
    display: flex; // makes figure elements side by side

    &__photo {
        width: 100%; // must always provide a width for images to have responsiveness
        display: block; // an image must be a block or inline-block to avoid white space
    }
}

////////////////////////////////////////////
// HOTEL OVERVIEW
.overview {
    display: flex;
    align-items: center; // vertically aligns items
    border-bottom: var(--line);

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }

    &__stars {
        margin-right: auto; // makes element only occupy the space that it needs
        display: flex; // correctly centers the stars
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        color: var(--color-white);
        margin-left: 3rem;
        align-self: stretch; // occupies all the available space it has
        padding: 0 2.25rem;

        // Center items with flexbox
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;
    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;
    }

}



////////////////////////////////////////////
// BUTTON INLINE
.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor; // border will have exact same color as the text
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: margin-left .2s;

    & span {
        margin-left: 3px;
        transition: all .2s;
    }

    &:hover {
        color: var(--color-gray-dark-1);

        span {
            margin-left: 8px;
        }
    }

    &:focus {
        outline: none; // removes default blue border
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}



////////////////////////////////////////////
// PARAGRAPH
.paragraph:not(:last-of-type) {
    margin-bottom: 2rem; // last paragraph type will not have the margin bottom
}




////////////////////////////////////////////
// LIST
.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-wrap: wrap; // allows elements to make new lines to wrap

    &__item {
        flex: 0 0 50%; // Makes each list element cover half the container size
        margin-bottom: .7rem;
    }

    // Adding the chevron icon using pure CSS
    &__item::before {
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .7rem;

        // Older browsers
        // background-image: url(../img/chevron-thin-right.svg);
        // background-size: cover;

        // Newer browsers can use masks, allowing us to color our icons
        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;

    }
}



////////////////////////////////////////////
// RECOMMEND
.recommend {
    font-size: 1.3rem;
    color: var(--color-gray-dark-3);

    display: flex;
    align-items: center;

    &__count {
        margin-right: auto; // puts space between sentence and photos
    }

    &__friends {}

    &__photo {
        box-sizing: content-box; // makes images stay same size even with an added border
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid var(--color-white); // gives images the overlapping feel

        // Giving a negative margin to the photos will give the overlapping look
        &:not(:last-child) {
            margin-right: -1.5rem;
        }
    }
}



////////////////////////////////////////////
// REVIEWS
.review {
    background-color: var(--color-white);
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    &__text {
        margin-bottom: 2rem;
        z-index: 10;
        position: relative; // z-index will not work without a position declared
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__photo {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__user-box {
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }

    &__user-name {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .4rem;
    }

    &__user-date {
        font-size: 1rem;
        color: var(--color-gray-dark-3);
    }

    &__rating {
        font-size: 2.2rem;
        color: var(--color-primary);
        font-weight: 300;
    }

    &::before {
        content: "\201C";
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        color: var(--color-gray-light-2);
        font-family: sans-serif;
        z-index: 1;
    }
}

////////////////////////////////////////////
// CALL TO ACTION
.cta {
    padding: 3.5rem 0;
    text-align: center;

    &__book-now {
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
}


////////////////////////////////////////////
// CALL TO ACTION
.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: var(--color-white);
    position: relative;
    overflow: hidden;
    cursor: pointer;

    & > * {
        height: 100%;
        width: 100%;
        display: inline-block; // needed to provide padding
        transition: all .2s;
    }

    &__visible {
        padding: 2rem 7.5rem;
    }

    &__invisible {
        position: absolute;
        padding: 2rem 0;
        left: 0;
        top: -100%; // this is going to move exactly the size of the element
    }

    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &:hover &__visible {
        transform: translateY(100%);
    }

    &:hover &__invisible {
        top: 0;
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}