.container {
    max-width: 120rem; // max-width so the container can decrease if viewport less than 120
    margin: 8rem auto; // centering viewport
    background-color: var(--color-gray-light-1);
    box-shadow: var(--shadow-dark);

    // TODO: Delete when done testing
    min-height: 50rem; // testing purposes

    @media only screen and (max-width: $bp-largest) {
        margin: 0; // Removes the pink background
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.4rem; // increasing the placeholder text inside search bar (Search hotels)
    height: 7rem;
    background-color: var(--color-white);
    border-bottom: var(--line);

    // Putting the bookmark, chat, and profile pic icon as a flexbox
    display: flex;
    justify-content: space-between; // `space-between` divides empty space between the user, search, and logo elements
    align-items: center;
}

// Enabling flexbox for sidebar and hotel view
.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column; // moves sidebar navigation to the top and hotel overview beneath it
    }
}

.sidebar {
    background-color: var(--color-gray-dark-1);

    // flex: grow shrink basis
    flex: 0 0 18%;

    // Will put the legal text at the very bottom of the nav bar and keep the nav buttons stay at the top
    display: flex;
    flex-direction: column; // allows us to vertically manipulate
    justify-content: space-between; // pushes elements to opposite sides
}

.hotel-view {
    background-color: var(--color-white);

    flex: 1; // flex: 1; basically says the element should grow as much as it can
}

.detail {
    font-size: 1.4rem;
    display: flex; // makes description and user-reviews be side-by-side
    padding: 4.5rem;
    background-color: var(--color-gray-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }
}

.description {
    background-color: var(--color-white);
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%; // fills out 60% of the container
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }
}

.user-reviews {
    flex: 1; // fills out remaining space

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}